/*
Awakelab
Full Stack Python 2020
*/
 #completo{
    padding: 1% 3% 14px;
    min-height: 750px;  
}

#fondo-blanco{
    background-color: white;
    opacity: 0.8;
    color: black;
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin-bottom: 10px;
}


#competencias, 
#contacto {
    padding-top: 60px;
    min-height: 700px;
}

#principal {
    padding: 4% 5% 20px;
    min-height: 1000px;
}


#competencias > div >  h3 {
    color: white;
}

#equipo {
    padding-top: 60px;
    padding-bottom: 60px;
}

#enlaces {
    color:white;
    padding-top: 60px;
    min-height: 100%;
}

.col-md-12{
    width: 50px;
}
.navbar a {
    font-weight: bold;
}

.navbar-dark {
    background-color:black;
}

h1, h3, h4, h5, h6, .navbar, .modal { 
    font-family: 'Poiret One', cursive;
}

.bg-principal {
    background-image: url('https://img.freepik.com/foto-gratis/doctor-estetoscopio-mano-fondo-hospital_34200-156.jpg?size=626&ext=jpg');
    background-size: 100%;
}

.jumbotron {
    color: white;
    background: rgb(0, 0, 0); /* Para navegadores antiguos */
    background: rgba(0, 0, 0, 0.5); 
 }

 .card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.media {
    margin: 20px 5% 50px 10%;
}

#contact-form { 
    padding-top: 3rem; 
} 

textarea { 
    resize: none; 
}

.footer p {
    display: inline;
}
p{
    font-size: 30px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }