<!doctype html>
<html lang="es">
  <head>
    <title>SALUDhere</title>
    <meta charset="utf-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <!-- Loading Bootstrap CSS -->
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" 
        rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    

 
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a class="navbar-brand" href="#">SALUDhere</a>
      

      <!-- Navigation Bar Hamburger-->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navigation"
        aria-expanded="false"
        aria-controls="navigation" 
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- End Navigation Bar Hamburger -->

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="navigation">
         <ul class="navbar-nav mr-auto">
      
          {% block barra_general %}
            {% for element in list1 %}
            <li class="nav-item">
              <a
                class="nav-link scroll-trigger" 
                href="#principal">
                  {{element}}
              </a>
            </li>
            {% endfor %}
          {% endblock %}
          
          
          
            <li class="nav-item dropdown">
              {% block barra_usuario %}
              <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                      Perfil <span class="caret"></span>
              </a>

              <div class="dropdown-menu dropdown-menu-right">
                  <a 
                    class="dropdown-item scroll-trigger"
                    href="#"
                    data-toggle="modal"
                    data-target="#profile-modal">
                      Usuario
                  </a>

                  <a class="dropdown-item scroll-trigger"
                    data-toggle="modal"
                    data-target="#settings-modal">
                        Configuración
                  </a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item scroll-trigger" href="">
                      Logout
                  </a>
              {% endblock%}
                
                {% block login %}
                <li class="nav-item">
                <ul class="nav nav-justified">
                    
                  <div class="login-form form-inline my-2 my-lg-0">
                    <div class="row justify-content-right"></div>
                    <input type="text" class="form-control" placeholder="User Name" id="Nombre">
                  </div>

                  <div class="form-group form-inline my-2 my-lg-0">
                    <input type="password" class="form-control" placeholder="Password" id="Passwordz">
                  </div>

                  <div>
                  <button onclick="EnviarDatos()" type="submit" class="form-group form-inline my-2 my-lg-0 btn btn-success" style="padding-right: 10%; margin-bottom: 20px;">login</button> 
                  </div>
       
                </ul>
                </li>
                {% endblock %}
              </div>
                      
            </li>
            
          </ul>  

        </div>    
          
        {% block search %}
        <form class="form-inline my-2 my-lg-0">
           <input class="form-control mr-sm-2" 
              type="text"
              placeholder="Search" 
              aria-label="Search">
           <button class="btn btn-outline-success border-dark 
                    font-weight-bold text-white my-2 my-sm-0"
                    type="submit">Search</button>
         </form>
        {% endblock %}

      </div>
    </nav>
    <!-- End Navigation Bar -->



    <!-- Section: Principal -->
    {% block seccion_principal %}
    <div class="container-fluid bg-principal" id="principal">
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron jumbotron-main">
            <h2>Tu historial clínico en un sólo lugar</h2>
            <h3>SALUDhere</h3>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- End Section: Principal -->



    <!-- Section: Competencias -->
    {% block competencias %}
    <div class="container-fluid bg-dark" id="competencias">
      <div class="row">
        <h3>Informacion Noticiarias</h3>
      </div>

      <div class="row">

        <div class="col-md-6 col-lg-3">
          <div class="card">
            <h3 class="card-header"> Informacion Covid </h3>
            <div class="card-body">
              <h4 class="card-title">Minsal informa 52 fallecidos</h4>
              <p class="card-text">Laboratorios informaron 37 mil examenes
                  de PCR, 52 Fallecidos y 1773 Nuevos casos activos</p>
              <a href="#!" class="btn btn-dark">Ver Noticia</a>
            </div>
          </div>
        </div>
  
        
        
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <h3 class="card-header">Custodia del Plebicito</h3>
            <div class="card-body">
              <h4 class="card-title">Custodia Policiales & Militar</h4>
              <p class="card-text">Mas de 50 mil funcionarios
                Policiales y Militares Custodiaran Plebicito</p>
              <a href="#!" class="btn btn-dark">Ver Noticia</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="card">
            <h3 class="card-header">Covid en Mall Zofri</h3>
            <div class="card-body">
              <h4 class="card-title">Caso positivo en Mall Zofri</h4>
              <p class="card-text">Trabajadora del Mall Zofri,
               es Positivo para COVID, ahora esta en cuarentena</p>
              <a href="#!" class="btn btn-dark">Ver Noticia</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <h3 class="card-header">Nuevo control Ingreso</h3>
            <div class="card-body">
              <h4 class="card-title"> Ingreso a la R. de los lagos</h4>
              <p class="card-text">Evaluan nuevo control de ingreso
               para el sector de Cocule, que se instala el día de hoy</p>
              <a href="#!" class="btn btn-dark">Ver Noticia</a>
            </div>
          </div>
        </div>
      
      </div>




      <div class="row">

        <div class="col-md-4">
          <div class="card">
            <h3 class="card-header">Covid-19 en Arauco</h3>
            <div class="card-body">
              <h4 class="card-title">Casos en Aumento</h4>
              <p class="card-text">Uno de cada cinco examenes
                es covid positivo en Arauco</p>
              <a href="#!" class="btn btn-dark">Ver Noticia</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h3 class="card-header">Lapiz Pasta</h3>
            <div class="card-body">
              <h4 class="card-title">Cualquier marca</h4>
              <p class="card-text">Desde la moneda entregan un  
                Catalogo, que permite evitar info falsas</p>
              <a href="#!" class="btn btn-dark">Ver noticias</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h3 class="card-header">Muerte de TENS</h3>
            <div class="card-body">
              <h4 class="card-title">Muerte de joven TENS</h4>
              <p class="card-text">Min. Confirma la muerte de 
                TENS "No toleraremos la violencia"</p>
              <a href="#!" class="btn btn-dark">Ver Noticia</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
    <!-- End Section: Competencias -->



    <!-- Section: Equipo -->
    {% block equipo %}
    <div class="container-fluid bg-light" id="equipo">
      <div class="row">
        <h3>Nuestro Equipo</h3>
      </div>
      <div class="row">
        <div id="team-carousel" 
            class="carousel slide" 
            data-ride="carousel" 
            data-interval="3000">
          <div class="carousel-inner" style="padding: 4rem;" role="listbox">
            <div style="height: 400px" class="carousel-item active">
              <img class="d-block img-fluid carousel-img" src="img/adn (1).jpg">
              <div class="carousel-caption">
                INFORMACIÓN
              </div>
            </div>
            <div style="height: 400px" class="carousel-item">
              <img class="d-block img-fluid carousel-img" src="img/adn (2).jpg">
              <div class="carousel-caption">
                INNOVACIÓN
              </div>
            </div>
            <div style="height: 400px" class="carousel-item">
              <img class="d-block img-fluid carousel-img" src="img/adn (3).jpg">
              <div class="carousel-caption">
                TECNOLOGIA 
              </div>
            </div>
          </div>
          <a class="left carousel-control" 
              href="#team-carousel" 
              role="button" 
              data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" 
              href="#team-carousel" 
              role="button" 
              data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
          </a>
          <ol class="carousel-indicators">
            <li data-target="#team-carousel" 
                data-slide-to="0" 
                class="active"></li>
            <li data-target="#team-carousel" 
                data-slide-to="1"></li>
            <li data-target="#team-carousel" 
                data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- End Section: Equipo -->



    <!-- Section: Enlaces -->
    {% block enlaces %}
    <div class="container-fluid bg-dark" id="enlaces">
      <div class="row">
          <h3>Informacion Addicional</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="media">
            <img class="d-flex mr-3" src="img/screen-64.png" 
                alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Numeros del Hospital</h5>
              <ul>
                <li>Informaciones :+56228653467 <a href="#">Ver más</a></li>
                <li>Farmacia      :+56228645758 <a href="#">Ver más</a></li>
                <li>Laboratorio   :+56228647521 <a href="#">Ver más</a></li>
                <li>Urgencias     :+56980457263 <a href="#">Ver más</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media">
            <img class="d-flex mr-3" src="img/corazon.png" 
                alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Recintos Cercanos</h5>
              <ul>
                <li>CESFAM S.Ger.   :+56228467356 <a href="#">Ver más</a></li>
                <li>CESFAM Cardenal :+56228456753 <a href="#">Ver más</a></li>
                <li>CESFAM Vista H. :+56228476573 <a href="#">Ver más</a></li>
                <li>SAPU Alejando R.:+56228477543<a href="#">Ver más</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="media">
            <img class="d-flex mr-3" src="img/info.png" 
                alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Informacion adicional</h5>
              <ul>
                <li>MIN.de Salud     :8001100737 <a href="#">Ver más</a></li>
                <li>Chile Responde   :8007000462 <a href="#">Ver más</a></li>
                <li>Responde Salud   :8001242330 <a href="#">Ver más</a></li>
                <li>Inst medico l.   :8004157432<a href="#">Ver más</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media">
            <img class="d-flex mr-3" src="img/info.png" 
                alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Otras Numeros</h5>
              <ul>
                <li>Fonasa          :8000117400 <a href="#">Ver más</a></li>
                <li>Registro Civil  :8000478411 <a href="#">Ver más</a></li>
                <li>Carabinero de c.:+562248743 <a href="#">Ver más</a></li>
                <li>MinPlan         :8000114723 <a href="#">Ver más</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- End Section: Enlaces -->




    <!-- Section: Contacto -->
    {% block contacto %}
    <div class="container-fluid bg-light" id="contacto">
      <div class="row">
        <h2>Contáctanos</h2>
      </div>

      <div class="row justify-content-center align-items-center h-100">
        <div class="col-sm-6" id="contact-form">
          <form>

            <div class="form-group">
              <label for="contact-name">Nombre</label>
              <input type="text" class="form-control" id="contact-name" 
                  placeholder="Tu Nombre">
            </div>

            <div class="form-group">
              <label for="contact-email">Email</label>
              <input type="email" class="form-control" id="contact-email" 
                  placeholder="Tu Email">
            </div>

            <div class="form-group">
              <label for="contact-msg">Email</label>
              <textarea class="form-control" id="contact-msg" 
                  placeholder="Tu Mensaje" rows="4"></textarea>
            </div>

            <div class="btn-group">
              <button type="button" class="btn btn-outline-secondary">Enviar</button>
              <button type="button" class="btn btn-outline-secondary">Limpiar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- End Section: Contacto -->
    {% endblock%}


    {% block footer%}
    <footer class="footer bg-dark text-center">
      <p class="text-muted">&copy; 2020 Awakelab.</p>
      <p class="text-muted">Grupo Full Stack Python</p>
    </footer>
    {% endblock %}





    <!-- MODAL FORMS -->
    <div class="modal" id="profile-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <p class="modal-title" id="profile-modal-label">Perfil</p>
          </div>
            <div class="modal-body">
              Perfil
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success">Guardar</button>
              <button type="button" 
                  class="btn btn-secondary" 
                  data-dismiss="modal">Cancelar</button>
            </div>
        </div>
     </div>
    </div>
    <div class="modal" id="settings-modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
              aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <p class="modal-title" id="settings-modal-label">Configuración</p>
          </div>
          <div class="modal-body">
            Configuración
          </div>
          <div class="modal-footer">
            <button type="button" 
                class="btn btn-success">Guardar</button>
            <button type="button" 
                class="btn btn-secondary" 
                data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END MODAL FORMS -->

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="js/main.js"></script>
    <script 
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
      crossorigin="anonymous">
    </script>
  </body>
</html>
